* {
	padding: 0px;
	margin:0px;
	box-sizing: border-box;
}

#header {
	width: 100%;
	height: 750px;
	background-image: url('54728632_2407654796189209_36716850779783168_n (1).jpg');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.container {
	width: 1050px;
	margin: auto;
}

header {
	width: 950px;
	margin: auto;
	padding-top: 75px;
	display: flex;
	justify-content: center;
}

.nav-bar >ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 800px;
	list-style-type: none;
}

.nav-bar  li>a {
	display: block;
	transition: 0.5s;
}

.nav-bar li>a:hover {
    cursor: pointer;
    color: #16a085;
}

.nav-bar li>a {
	text-decoration: none;
	color: white; 
	text-transform: uppercase;
	font-size: 16px;
}

.cover-description {
	width: 535px;
	height: 180px;
	margin: auto;
	margin-top: 20%;
	display: flex;
	flex-direction: column;
}

.cover-description >h2 {
    text-transform: uppercase;
    font-size: 36px;
    color: white;
    text-align: center;

}

.cover-description >p {
	font-size: 16px;
	text-align: center;
    color: white;
    padding-top: 10px;
}

.cover-description >a {
	width: 165px;
	height: 50px;
	background-color: #16a085;
	text-decoration: none;
	color: white;
	opacity: 0.8;
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: center;
	margin-top: 25px;
	transition: 0.5s;
}

.cover-description a:hover {
	cursor: pointer;
	color: #373737;
	opacity: 1;
}

.social-button {
	width: 110px;
	height: 40px;
	margin: auto;
}

.social-button >ul {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	width: 130px;
	position: absolute;
	bottom: 20px;
}

.your-life {
	width: 100%;
	height: 500px;
}

.your-life-description {
	width: 100%;
	height: 500px;
	background-color: #f5f6f7;
	background-image: url('had.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.life-description {
	width: 420px;
	height: 340px;
	padding: 55px;
}

.life-description >h2 {
	font-size: 18px;
    color: #16a085;
    text-transform: uppercase;
}

.life-description >p {
	margin-top: 20px;
	color: #adaeaf;
	font-size: 12px;
}

.life-description >button {
	border: 1px solid #16a085;
	background-color: #16a085;
	opacity: 0.8;
	text-transform: uppercase;
	margin-top: 30px;
	width: 190px;
	height: 50px;
	border-radius: 4px;
	color: white;
	transition: 0.5s;
} 

.life-description >button:hover {
	cursor: pointer;
	opacity: 1;
	color: #373737;
}

.design {
	width: 100%;
	height: 500px;
}

.mobile-design  {
	overflow: hidden;
	padding-top: 10%;
	padding-left: 11%;
}

.design-description {
	width: 100%;
	height: 500px;
	display: flex;
}

.designdescription {
	width: 350px;
	height: 340px;
	margin-top: 10%;
	margin-left: 18%;
}

.designdescription >h2 {
	color: #16a085;
	font-size: 18px;
	text-transform: uppercase;
}

.designdescription >p {
	margin-top: 30px;
	color: #adaeaf;
	font-size: 12px;
}

.designdescription >button {
	border: 1px solid #16a085;
	background-color: #16a085;
	opacity: 0.8;
	text-transform: uppercase;
	margin-top: 30px;
	width: 190px;
	height: 50px;
	border-radius: 4px;
	color: white;
	transition: 0.5s;
}

.designdescription >button:hover {
	cursor: pointer;
	color: #373737;
	opacity: 1;
}

.designdescription >img {
	margin-top: 5px;
	transition:
}

.designdescription >img:hover {
	color: #16a085;
}

.our-community {
	width: 100%;
	height: 500px;
}

.community {
	width: 100%;
	height: 500px;
	display: flex;
	justify-content: space-between;
	background-image: url('Untitled-5.png');
	padding-top: 10%
}

.community-description {
	width: 300px;
	height: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 2%;
}

.community-description >ul {
	list-style-type: none;
}

.community-description >li {
	background-color: #1ca288;
}

.community-description >h2 {
	color: #373737;
	text-transform: uppercase;
	font-size: 16px;
	padding-top: 10px;
}

.community-description >p {
	color: #6c6d6d;
	text-align: center;
	font-size: 10px;
	padding-top: 10px;
}

.community-photo >img {
	width: 325px;
	height: 190px;
}

.subscribe-community {
	width: 100%;
	height: 500px;
}

.subscribe {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	font-size: 25px;
	color: white;
	width: 100%;
	height: 500px;
	background-image: url('Untitled-6.png');
	background-size: cover;
	background-position: center;
}

.subscribe >h2 {
	text-transform: uppercase;
	font-size: 24px;
}

.email {
	width: 280px;
	height: 40px;
	margin-top: -38%;
	display: flex;
	justify-content: space-between;
}

.email input {
	width: 230px;
	padding: 10px;
	margin: auto;
}

.email >img {
	width: 14%;
	height: 40px;
	opacity: 0.8;
	margin-left: -12px;
	background-color: #16a085;
	padding: 12px;
	transition: 0.5s;
}

.email img:hover {
    opacity: 1;
    cursor: pointer;
}

.download-section {
	width: 100%;
}

.download {
	width: 100%;
	height: 350px;
	background-color: #f5f6f7;
}

.download-description {
	width: 100%;
	height: 200px;
	padding-top: 95px;
}

.download-description >p {
	font-size: 12px;
	color: #4b4b4b;
	text-align: center;
	margin: auto;
	width: 545px;
	margin-top: 10px;
}

.download-description >h2 {
	color: #373737;
	font-size: 20px;
	text-align: center;
	margin: auto;
	text-transform: uppercase;
}

.store-button {
	width: 600px;
	margin: auto;
	text-align: center;
	display: flex;
	justify-content: space-between;
}

.apple-store {
	width: 280px;
	height: 40px;
	display: flex;
	justify-content: space-between;
}

.apple-store >button {
	border: 1px solid #16a085;
	background-color: #16a085;
	opacity: 0.8;
	text-transform: uppercase;
	margin-top: 30px;
	width: 245px;
	height: 35px;
	color: white;
	transition: 0.5s;
}

.apple-store >a {
	width: 12%;
	height: 35px;
	opacity: 0.9;
	margin-top: 30px;
	background-color: #16a085;
	padding: 5px;
	transition: 0.5s;
}

.apple-store  >button:hover {
	cursor: pointer;
	opacity: 1;
	color: #373737;
}

.apple-store >a:hover {
	cursor: pointer;
	opacity: 1;
}

.play-store {
	width: 280px;
	height: 40px;
	display: flex;
	justify-content: space-between;
}

.play-store >button {
	border: 1px solid #16a085;
	background-color: #16a085;
	opacity: 0.8;
	text-transform: uppercase;
	margin-top: 30px;
	width: 245px;
	height: 35px;
	color: white;
	transition: 0.5s;
}

.play-store >a {
	width: 12%;
	height: 35px;
	opacity: 0.9;
	margin-top: 30px;
	background-color: #16a085;
	padding: 5px;
	transition: 0.5s;
}

.play-store  >button:hover {
	cursor: pointer;
	opacity: 1;
	color: #373737;
}

.play-store >a:hover {
	cursor: pointer;
	opacity: 1;
}

.footer-section {
	width: 100%;
}

.footer {
	width: 100%;
	height: 200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo >ul {
	list-style-type: none;
}

.copy-right >h2 {
    color: #373737;
    text-transform: uppercase;
    font-size: 14px;
}

.copy-right >p {
	color: #373737;
	margin-top: 10px;
}





